RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|libs|uploads|icons|favicon.ong|fonts)
RewriteCond %{REQUEST_FINLENAME} !-f
RewriteCond %{REQUEST_FINLENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1