// Base styling for the topnav

.sb-topnav {
  height: $topnav-base-height;
  z-index: $zindex-topnav;
  padding: 0;

  .navbar-container {
      width: $sidenav-base-width;
      padding-left: $navbar-padding-x;
      padding-right: $navbar-padding-x;
      margin: 0;
  }

  &.navbar-dark {
      #sidebarToggle {
          color: $topnav-dark-toggler-color;
      }
  }
  &.navbar-light {
      #sidebarToggle {
          color: $topnav-light-toggler-color;
      }
  }
}
